*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.header-container{
  height: 60px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}